.register {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 92vh;
    width: 100%;

    form {
        width: 45vh;
        background-color: var(--white);
        padding: 3vh;
        border-radius: 1vh;
        border: var(--border);

        .title {
            font-size: 3vh;
            margin-bottom: 0.5vh;
        }
        
        p {
            color: var(--grey);
            font-size: 1.6vh;
            margin-bottom: 2vh;
        }

        label {
            font-size: 1.7vh;
        }

        input {
            height: 5vh;
            width: 100%;
            padding: 0 1.5vh;
            border: var(--border);
            border-radius: 1vh;
            font-size: 1.6vh;
            margin: 0.5vh 0 2vh 0;
            outline: none;
            transition: all 0.3s ease;
      
            &:focus {
              border-color: var(--grey);
            }
        }

        button {
            height: 5vh;
            width: 100%;
            border: var(--border);
            border-radius: 1vh;
            font-size: 1.6vh;
            outline: none;
            transition: all 0.3s ease;
            cursor: pointer;
            user-select: none;

            &:hover {
                color: var(--white);
                background-color: var(--blue);
                border-color: var(--border-blue);
            }
        }
    }
}